<pt-card title="Strategy">
  <pt-dialog position="left">
    <p>
      Imaginemos que estamos por machu picchu y nos encontramos un piedrá inka con algo escrito
      y queremos descifrarlo. Gracias a Dios somos desarrolladores y como buenos programadores 
      llevamos el mundo real a objetos. Entonces creamos dos clases la piedra inka y una clase cerebro
      esta clase cerebro es el resultado que esperamos ver.
    </p>
  </pt-dialog>

  <pt-code [typescript]="code1"></pt-code>
  <pt-code [typescript]="code2"></pt-code>

  <pt-dialog position="right">
    <p>
      Por ultimo creo una clase lentes que hará el trabajo sucio, traducirá el texto en la piedra.
      y mi cerebro dirá: ahora se leer lenguaje inka.
    </p>
  </pt-dialog>

  <pt-code [typescript]="code3"></pt-code>
  <pt-code [typescript]="code4"></pt-code>

</pt-card>