<pt-showcase title="Adapter" txtButton="Comenzar" (btnEvent)="goTo('/adapter')" class="showcase">
  <p>
    Los diferentes tipos de enchufes eléctricos que hay en el mundo son un verdadero
    dolor de cabeza. Afortunadamente puedes resolver este problema usando un adaptador.
  </p>
</pt-showcase>
<pt-showcase title="Strategy" txtButton="Comenzar" (btnEvent)="goTo('/strategy')" class="showcase">
  <p>
    Imagina que necesitas llegar al aeropuerto. Para ello puedes ir en autobús, en taxi o
    si las fuerzas te dan, en tu bicicleta. Estas son tus estrategias de transporte.
  </p>
</pt-showcase>
<pt-showcase title="Singleton" txtButton="Comenzar" type="creacional" (btnEvent)="goTo('/singleton')" class="showcase">
  <p>
    La entidad que rige un país es única en este caso es el gobierno, 
    en ocasiones es necesario disponer de una instancia única de una clase en el contexto de toda la aplicación.
  </p>
</pt-showcase>
