<pt-showcase title="Adapter" txtButton="Comenzar" (btnEvent)="goTo('/adapter')" class="showcase">
  <p>
    Los estándares de enchufes son diferentes en diferentes entrer países.
    El problema se puede resolver mediante el uso de un adaptador.
  </p>
</pt-showcase>
<pt-showcase title="Strategy" txtButton="Comenzar" (btnEvent)="goTo('/strategy')" class="showcase">
  <p>
    Imagina que tienes que llegar al aeropuerto. Puede tomar un autobús,
    pedir un taxi o subirse a su bicicleta. Estas son sus estrategias de transporte.
  </p>
</pt-showcase>
